{# templates/pagination/twitter_bootstrap_v5_pagination.html.twig #}
{% if pageCount > 1 %}
    <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
            {# Previous #}
            {% if previous is defined %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}" rel="prev">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="visually-hidden">Précédent</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&laquo;</span>
                </li>
            {% endif %}

            {# Pages #}
            {% for page in pagesInRange %}
                {% if page != current %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ page }}</span>
                    </li>
                {% endif %}
            {% endfor %}

            {# Next #}
            {% if next is defined %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}" rel="next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="visually-hidden">Suivant</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&raquo;</span>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
